.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  position: absolute;
  top: 30px;
  left: 50px;
}

.App-logo:hover {
  animation: App-logo-spin 0.5s ease-in;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  height: 100px;
  padding: 20px;
  color: white;
  text-align: right;
}

.App-header h2 {
  font-size: 30px;
  margin: 15px 10px 10px;
}

.App-header h3 {
  font-size: 24px;
  margin: 15px 10px 10px;
}

.Sections {
  display: flex;
}

.Sections .Info {
  width: 33%;
}

.Sections .Blocks {
  width: 66%;
}

.Skills {
  padding-top: 15px;
}

.Blocks {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  border-top: 1px dashed #ffa;
}

a {
  text-decoration: none;
  color: #000;
}

@media (max-width: 840px) {
  .Sections,
  .Sections .Info,
  .Sections .Blocks {
    flex-direction: column;
    width: 100%;
  }

  .App-header {
    background-color: #282c34;
    height: 80px;
    padding: 10px;
    color: white;
    text-align: center;
  }

  .App-header h2 {
    font-size: 16px;
  }

  .App-header h3 {
    font-size: 14px;
  }

  .App-logo {
    display: none;
  }
}
